{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>CradleHeight School</title>
        <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1><img src="{% static 'logo.jpeg' %}" height="70"/>CradleHeight School</h1>
        </div>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>
                <a href="{% url 'prospects' %}" class="highlight">Apply Here</a>
            </li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            {% endif %}
            </ul>   
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
